@import (once, css) "pure/base-min.css";
@import (once, css) "pure/forms-min.css";
@import (once, css) "pure/buttons-min.css";
@import (once, css) "pure/grids-responsive.css";
@import (once, css) "ibm-type.css";
@import (once, less) "colours.less";
@import (once, less) "constants.less";
@import (once, less) "nav.less";
@import (once, less) "login.less";
@import (once, less) "home.less";

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pure-g {
    text-align:left;
    display: inline-block;
    width: 768px;
    @media (max-width: 767px) {
        width:96% !important;
        padding-right: 0px;
        padding-left: 0px;
        margin-left:2%;
        margin-right:2%;
    }
}

#app{
    text-align:center;
    margin:0;
    width:100%;
    max-width:100%;
}

.noweb3{
    text-align:center;
}

hr{
    color: @brand-01;
    border-color: @brand-01;
    background-color: @brand-01;
    height:0.3rem;
    width:5rem;
    margin:2em;
    margin-left:0;
}

a{
    color:@brand-01;
    &:hover{
        color: @brand-02;
    }
}


button{
    user-select:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button-success{
    background: @support-02;
    color:white;
}
