.nav{
    @nav_height:100px;
    width:100%;
    text-align:center;

    user-select:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    a{
        text-decoration:none;
    }
    nav{
        .logo{
            margin:2em;
            font-size:1.25em;
            color:@text-01;
            font-weight: bold;

            @media (max-width: @small_screen_width) {
                margin:1.5em;
                .en{
                    margin-bottom:0.5em;
                }
                .en, .zh{
                    font-size:1.25rem;
                    width:100%;
                    display:block;
                }
            }
        }

        .links{
            a{
                margin-left:2em;
                font-weight:bold;

                &:first-of-type{
                    margin-left:0;
                }

                &:visited{
                    color:@brand-01;
                }

                @media (max-width: @small_screen_width) {
                    margin-left:1em;
                    font-size:1rem;
                }
            }
        }
    }
}

        /*height:@nav_height;*/
        /*display:flex;*/

        /*@media (max-width: @small_screen_width) {*/
            /*display:block;*/
        /*}*/

        /*.logo{*/
            /*font-size:1em;*/
            /*line-height:32px;*/
            /*margin-top:17px;*/

            /*.en{*/
                /*float:left;*/
                /*width:100%;*/
            /*}*/
            /*.zh{*/
                /*width:100%;*/
                /*float:left;*/
            /*}*/
            /*@media (max-width: @small_screen_width) {*/
                /*width:100%;*/
                /*max-width:100%;*/
                /*text-align:center;*/
                /*display:block;*/
                /*[>margin:0;<]*/
            /*}*/
        /*}*/

        /*.links{*/
            /*margin-left: auto;*/
            /*@media (max-width: @small_screen_width) {*/
                /*width:100%;*/
                /*max-width:100%;*/
                /*text-align:center;*/
                /*display:block;*/
                /*float:left;*/
                /*height:50px;*/
            /*}*/
        /*}*/

        /*a {*/
            /*vertical-align:baseline;*/
            /*line-height:@nav_height;*/
            /*height:100%;*/
            /*display:inline-block;*/
            /*text-decoration:none;*/
            /*font-size:1em;*/
            /*margin:0 0.5em;*/

            /*@media (max-width: @small_screen_width) {*/
                /*[>font-size:1em;<]*/
                /*[>height:25px;<]*/
                /*[>margin-bottom:1em;<]*/
                /*[>display:inline-block;<]*/
            /*}*/

            /*&:first-of-type{*/
                /*margin-left:0;*/
            /*}*/
        /*}*/

        /*.logo{*/
            /*color:@logo_color;*/
            /*font-weight: bold;*/
            /*a{*/
                /*color:@logo_color;*/
                /*&:visited{*/
                    /*color:@logo_color;*/
                /*}*/
            /*}*/
        /*}*/
